@charset "UTF-8";

*{

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to bottom, rgb(1, 1, 173), rgb(58, 29, 58));
    }

    #login{
        width: 90vw;
        
    }

    #img {
        float: left;
        width: 30%;
    }

    #form {
        float: right;
        width: 70%;
    }

    div.campo {
        
    }

    #form > h1 {
        
    }
    
    #form > p {
        
    }

    form > input[type = submit] {
        margin-top: 136px;
    }
}

@media screen and (min-width:992px) {

    body {
        background-image: linear-gradient(to right, green, blue);
    }

    #login{
        width: 90vw
    }

    #img{
        float: right;
        width: 30%;
        height: 100%;
    }

    #form {
        float: left;
        width: 70%;
    }

    div.campo {
        background-color: rgb(120, 120, 240);
        border: 2px solid rgb(120, 120, 240);
    }

    div > span {
        background-color: rgb(120, 120, 240);
    }

    div.campo > input {
        background-color: rgb(1, 184, 1);
        color: aliceblue;
    }


    #form > h1 {
        
    }


    form > input[type = submit] {
        background-color: rgb(89, 169, 235);
        margin-top: 136px;
    }

    form > input[type = submit]:hover {
        background-color:  rgb(27, 62, 90);;
    }

    form > a.senhaf {
        box-shadow: 2px 2px 1px  rgb(89, 169, 235);
    }

    form > a.senhaf:hover {
        background-color:  rgb(37, 52, 138);;
    }
}